:root {
  --green-primary: hsl(75, 94%, 57%);
  --white-neutral: hsl(0, 0%, 100%);
  --grey-neutral: hsl(0, 0%, 20%);
  --dark-grey-neutral: hsl(0, 0%, 12%);
  --Off-black-neutral: hsl(0, 0%, 8%);
}

.body {
  background-color: var(--Off-black-neutral);
  font-family: "inter", sans-serif;
  max-width: 1440px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
}
.container {
  width: 330px;
  background-color: var(--dark-grey-neutral);
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 2%;
  position: absolute;
  top: 50px;
}
.avatar {
  width: 68px;
  border-radius: 100%;
}

.name {
  color: var(--white-neutral);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 24px;
}

.address {
  color: var(--green-primary);
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
}

.job {
  font-size: 12px;
  font-weight: 400;
  color: var(--white-neutral);
}

.button {
  background-color: var(--grey-neutral);
  border: var(--dark-grey-neutral);
  color: var(--white-neutral);
  width: 250px;
  height: 40px;
  border-radius: 8px 8px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  font-family: "inter", sans-serif;
}

.button:hover {
  cursor: pointer;
  color: var(--Off-black-neutral);
  background-color: var(--green-primary);
  border: none;
}

.info {
  text-decoration: none;
  font-style: normal;
  color: var(--white-neutral);
}

@media (max-width: 375px) {
  .body {
    width: 375px;
    height: 812px;
    margin: auto 0;
  }
}
